.header {
  padding: 24px;
  background: radial-gradient(
    circle at center,
    #2daab3 0%,
    #3cc0b2 20%,
    #56d8ba 40%,
    #6ef0c8 60%,
    #5ad7e0 80%,
    #41bbd0 100%
  );
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}
